.messages {
   display: grid;
   grid-template-columns: 2fr 10fr;
   column-gap: 20px;
}

.messages__users {
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-size: 20px;
   font-weight: 400;
   list-style: none;
   margin: 0;
   padding: 10px 0 0 10px;
}

.messages__dialogs {
   display: flex;
   flex-direction: column;
   gap: 10px;
   font-size: 20px;
   font-weight: 400;
   list-style: none;
   margin: 0;
   padding: 10px 0 0 0;
}
