.messages {
   display: grid;
   grid-template-columns: 2fr 10fr;
   column-gap: 20px;
}

.messages__users {
   padding: 10px;
   font-size: 20px;
   font-weight: 400;
   list-style: none;
}

.messages__dialogs {
   padding: 10px;
   font-size: 20px;
   font-weight: 400;
   list-style: none;
}
