.myPosts {
   padding: 10px;
}

.myPosts__item {
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.myPosts__title {
   font-weight: 700;
   font-size: 17px;
   line-height: 16px;
   padding: 0;
   margin: 10px 0 10px 0;
}

